@import "../Layout/index.css";

.downloadItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
}

.text {
  margin-right: var(--spacing-unit);
}
