@import "../Layout/index.css";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition-duration: 250ms;
  padding: 0;
}

.navToggled {
  max-height: calc(52px * 7);
}

.nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav li {
  border-top: 2px solid var(--border-color);
  padding: calc(2 * var(--spacing-unit));
  padding-left: calc(3 * var(--spacing-unit));
  width: 100%;
}
