:root {
  /* TODO: figure out how to get css custom properties to work in css modules */
  /* Color */
  --primary-color: #0a0abc;
  --secondary-color: #0052cc;
  --dark-accent-color: #98c1ff;
  --light-accent-color: #deebff;

  --white-text-color: #fafafa;
  --primary-text-color: #222222;
  --secondary-text-color: #727272;

  --border-color: #dfdede;

  --primary-background-color: #f8f8f8;
  --secondary-background-color: #aaaaaa;

  /* Structure */
  --header-height: 60px;
  --footer-height: 60px;
  --spacing-unit: 8px;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: var(--spacing-unit);
}

.searchBar > input {
  border: none;
  margin-left: var(--spacing-unit);
  flex: 1;
  outline: none;
  font-size: 1.6rem;
}

.searchBar > svg {
  color: var(--secondary-text-color);
}
