.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
	padding: 0 var(--spacing-unit);
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: top 0.25s;
	background-color: var(--primary-color);
	color: var(--white-text-color);
}

.scrollDown {
	top: calc(-1 * var(--header-height));
}

.title {
	font-size: 1.5em;
	margin: 0;
}

.nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.nav li {
	padding: var(--spacing-unit);
}