:root {
  /* TODO: figure out how to get css custom properties to work in css modules */
  /* Color */
  --primary-color: #0a0abc;
  --secondary-color: #0052cc;
  --dark-accent-color: #98c1ff;
  --light-accent-color: #deebff;

  --white-text-color: #fafafa;
  --primary-text-color: #222222;
  --secondary-text-color: #727272;

  --border-color: #dfdede;

  --primary-background-color: #f8f8f8;
  --secondary-background-color: #aaaaaa;

  /* Structure */
  --header-height: 60px;
  --footer-height: 60px;
  --spacing-unit: 8px;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 var(--spacing-unit);
  z-index: 1;
  align-items: center;
  transition: top 0.25s;
  background-color: var(--primary-background-color);
  border-bottom: 2px solid var(--border-color);
}

.headerGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
}

.scrollDown {
  top: calc(-1 * var(--header-height));
}

.iconTitle {
  display: flex;
  align-items: center;
}

.iconTitle > * {
  margin-right: calc(2 * var(--spacing-unit));
}

.fullTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.title {
  font-size: 1.5em;
  margin: 0;
  margin-right: var(--spacing-unit);
}

.titleAccent {
  font-size: 1em;
  color: var(--secondary-text-color);
  font-weight: 200;
}

.navIcon {
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: block;
}
